body {
    font-family: Unbounded, sans-serif;
    /* background: linear-gradient(to bottom, #c084fc, #ffffff); */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:hsla(0,0%,100%,1);
background-image:
radial-gradient(at 10% 8%, hsla(279,100%,57%,0.5) 0px, transparent 50%),
radial-gradient(at 7% 86%, hsla(306,100%,81%,0.5) 0px, transparent 50%),
radial-gradient(at 96% 89%, hsla(279,100%,57%,0.5) 0px, transparent 50%),
radial-gradient(at 44% 6%, hsla(306,100%,81%,0.5) 0px, transparent 50%),
radial-gradient(at 23% 57%, hsla(355,100%,93%,0.5) 0px, transparent 50%),
radial-gradient(at 84% 15%, hsla(279,100%,57%,0.5) 0px, transparent 50%);
    }


    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
.background-svg {
    position: fixed;
    top: -50px; /* Поднять SVG вверх */
    right: -50px; /* Прижать к правому краю */
    width: 500px; /* Размер */
    height: 500px;
   
    z-index: -1; /* Уводим в фон */
    opacity: 1; /* Легкая прозрачность */
    pointer-events: none; /* SVG не мешает кликам */
}

.background-svg-bottom {
    position: fixed;
    bottom: -50px; /* Опустить вниз */
    left: -50px; /* Прижать к левому краю */
    width: 500px; /* Размер */
    height: 500px;
    z-index: -1; /* Уводим в фон */
    opacity: 1; /* Легкая прозрачность */
    pointer-events: none; /* SVG не мешает кликам */
}


.container {
    width: 375px;
    border-radius: 20px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
   
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.header {
    display: flex;
    align-items: center;
    gap: 10px;
}
.theme-lesson-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.article-container{
    margin-top: 20px;
    border-radius: 10px;
    padding: 18px;
    border: 1px solid rgba(255, 255, 255, 0.21);
    background: rgba(232, 224, 224, 0.24);
    backdrop-filter: blur(100.5px);
}

.article-container p{
    font-size: 14px;
}

.name{
    margin: 0;
}
.stripe{
    margin: 0;
}
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: gray;
}
.theme{
    font-size: 15px;
    margin: 0;

}
.lesson{
    font-size: 15px;
    margin: 0;
}

.article-container p{
    margin:0;
}

.go-to-test{
    font-family: Unbounded, sans-serif;
    align-items: center;
    display: flex;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.51);
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(10.5px);
    width: 375px;
    margin-top: 5%;
    justify-content: center;

}
.footer {
    display: fkex;
    align-items: center;
    border: 1px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.51);
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(10.5px);
    width: 375px;
    margin-top: 5%;
}
.footer button {
background-color: transparent;
border: none;
}